a{
    font-family:  Helvetica;
}
b{
    font-family: Helvetica;
}
h1{
    font-family: Helvetica;
}
h3{
    font-family: Helvetica;
}
u{
    font-family: Helvetica;
}
.spanAzul{
    color: blue;
}
.carousel-item img {
    max-height: 600px; /* Altura m치xima de la imagen */
    width: auto; /* Ancho autom치tico para mantener la relaci칩n de aspecto */
    margin: auto; /* Centrar la imagen */
}

p{
    text-align: justify;
    font-family: Helvetica;
}

.info{
    background-image: url(https://i.ibb.co/9cdbxTt/degradado.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
@media (max-width: 768px){ /* el media cuando este en use esta imagen */
    .info{
        background-image: url(https://i.ibb.co/9cdbxTt/degradado.jpg);
    }

}

.gallery{
    background-color: #e3f2fd;
}

.zoomP{
    /* aumenta la anchura y la alturra durante 2 segundos */
    transition: width 1.1s, height 1.1s, transform 1.1s;
    -moz-transition: width 1.1s, height 1.1s, -moz-transform 1.1s;
    -webkit-transition: width 1.1s, height 1.1s, -webkit-transform 1.1s;
    -o-transition: width 1.1s, height 1.1s, -o-transform 1.1s;

}
.zoomP:hover{
    /* transforma el elemento al pasar el mouuse por encima al doble
    su tama침o con scale 2 */
    transform: scale(1.05);
    -webkit-transform: scale(1.05);transform:scale(1.05)
}
.clients{
    background-color: #e3f2fd;
}
.clientsH1{
    text-align: center;
}
.maps{
    background-color: #e3f2fd;
}
.mapsH1{
    text-align: center;
}
.contactos{
    background-image: url('https://i.ibb.co/sWX2v2F/imgForm.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
@media (max-width: 768px){ /* el media cuando este en use esta imagen */
    .contactos{
        background-image: url('https://i.ibb.co/sWX2v2F/imgForm.jpg');
    }

}
.contactH1{
    text-align: center;
}